<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculadora básica</title>
</head>
<body>

<h1> CALCULADORA BASICA PAJR 2025670112</h1>

<form>

    <label> No. 1 </label>
    <input type="number" id="n1" name="n1" placeholder="Ingrese un numero"/>
    <label> No.2 </label>
    <input type="number" id="n2" name="n2" placeholder="Ingrese un numero"/>
    <p id="resultado"> Resultado </p>
    <input type="button" value="suma" onclick="suma()"/>
    <input type="button" value="resta" onclick="resta()"/>
    <input type="button" value="multiplicacion" onclick="multiplicacion()"/>
    <input type="button" value="division" onclick="division()"/>

</form>
<script src="/js/calculadora.js"> </script>
</body>
</html>